{% extends 'layout.html' %}

{% block body %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<br></br>
  <h1>Create project</h1>
  <br></br>
  <h4>
      Upload images:
  </h4>
  <p>We are accepting only png extension, other extensions will be omitted!</p>
  <p>When our model starts his work you have to wait for results! They will be visible in Release section in around 1 minute!</p>
  <form id="upload-form" action="{{ url_for('creator_img') }}" method="POST" enctype="multipart/form-data">
    <input class="btn btn-warning" id="file-picker" type="file" name="file" accept="image/input*" multiple>
    <input class="btn btn-danger" type="submit" value="Upload images and run model!" id="upload-button">
</form><br></br><br></br>
</body>


{% endblock %}