{% extends 'layout.html' %}

{% block body%}
<main role="main" class="inner cover">
    <div>
        <h3>WHAT</h3>
        <p class="lead">
                CV_Cleaner is designed for anyone who works in the field of Computer Vision. If you professionally deal with Data Science, ML Engineering or are a student - you will definitely need this tool and you will love it.

            </p><br></br>
        <h3>FOR WHOM</h3> 
        <p class="lead">
                CV_Cleaner is designed for anyone who works in the field of Computer Vision. If you professionally deal with Data Science, ML Engineering or are a student - you will definitely need this tool and you will love it.
        <br></br>
                <p class="lead">
        <a href="/features_more" class="btn btn-lg btn-secondary">Learn more about our algorithms</a>
        </p>
              </div>
    </main>


{% endblock %}